/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; max-height: 100vh; width: 100vw; max-width: 100vw; background: linear-gradient(0deg, #EBEBEB ); }
body { margin: 0; font-family: 'Inconsolata', monospace; }
